@media only screen  and (min-width : 800px) and (max-width : 1001px) {
.cetegory_top{width:100%}
.category_section{width:100%;}
.main_wrapper{width:98%}
.nav{width:49%}
.top_search{float:right;}
.mdl_lft_column{width:72%}
.hot_item_heading{width:63%;}
.icons-wrapper{width:18%; float:left;}
.mdl_rgt_column{width:26.80%}
.footer-section .column-6{width:38%;}
.nav ul li{padding:0 8px;}
.mdl_lft_column .hot_listing ul li{width:95%;}
.details_pic{display:block; width:91%;}
.host_left_tabs{width:27.5%; padding:0px;}
.mdl_lft_column .hot_page_section{width:72%;}
.category_section{width:100%}
.bx-wrapper .bx-viewport{width:98% !important; margin:10px 0 0 0; left:1px !important;}
.login_box .login_area .fieldArea input[type="text"], .login_box .login_area .fieldArea input[type="password"]{width:94%}
.login_box .login_area .fieldArea .forgot_label a{padding-left:0px;}
.login_box .login_area .fieldArea .login_btn{margin:-15px 0 10px 0;}

.submit_new_post form .post_box input[type="text"]{width:53%}
.submit_new_post form .post_box input[type="file"]{width:53%; float:left; margin:3px;}
.submit_new_post form .post_box textarea{width:55%;}

}
@media only screen  and (max-width : 800px){
.cetegory_top{width:100%}
.category_section{width:100%;}
.main_wrapper{width:949;}
.logo{width:20%;}
.nav {width:62%}
.top_search{width:16%;}
.mdl_lft_column{width:68%}
.hot_item_heading{width:58%;}
.icons-wrapper{width:18%; float:left;}
.mdl_rgt_column{width:30%}
.footer-section .column-6{width:38%;}

/*	 LOGIN PAGE CSS START	*/
#wrapper_inner{width:55%; margin:50px auto; position:static;}
#register, #login{width:97%; padding:8px 8px 0 8px;}
#wrapper_inner input:not([type="checkbox"]){width:87%; margin-right:0px;}
p.change_link{position:relative; left:-8px; width:99%; padding:17px 10px}
.nav ul li{padding:0 8px;}
.host_left_tabs{width:100%; padding:10px;}
.mdl_lft_column .hot_page_section{width:100%;}
iframe{display:block; width:100%;}
}

@media only screen  and (min-width : 800px) and (max-width : 1001px) {
.nav ul li{padding:0 8px;}
.mobile_toggle{display:none;}
#mobile_toggle{display:none;}
.main_wrapper{width:98%;}
.logo{width:25%;}
.nav {width:51%}
.top_search{width:16%;}
.mdl_lft_column{width:66%}
.hot_item_heading{width:56%; margin:10px 0;}
.icons-wrapper{width:19%; margin-left:6px; float:left;}
.mdl_rgt_column{width:32%}
.login_box .login_area .fieldArea input[type="text"], .login_box .login_area .fieldArea input[type="password"]{width:94%}
.login_box .login_area .fieldArea .forgot_label a{padding-left:0px;}
.login_box .login_area .fieldArea .login_btn{margin:-15px 0 10px 0;}
.footer-section .column-6{width:27%}
ul.follows li.nct_logo{float:left;}



/*	 LOGIN PAGE CSS START	*/
#wrapper_inner{width:55%; margin:50px auto; position:static;}
#register, #login{width:97%; padding:8px 8px 0 8px;}
#wrapper_inner input:not([type="checkbox"]){width:87%; margin-right:0px;}
p.change_link{position:relative; left:-8px; width:99%; padding:17px 10px}


/*	 SUBMIT NEW POST PAGE CSS START 	*/
.submit_new_post{width:98%; margin:0px; padding:0 5px;}
.submit_new_post form .post_box{width:97%; padding:5px;}
.submit_new_post form .post_box label{width:35%;}
.submit_new_post form .post_box input[type="file"]{width:60%; float:left; margin:6px 0;}
.submit_new_post form .post_box input[type="text"]{width:60%}
.submit_new_post form .post_box textarea{width:64%; max-width:64%;}
.submit_new_post form .post_box .populer_choice{width:98%; float:left;}
.submit_new_post form .post_submit{width:97%}

.mdl_lft_column .hot_page_section ul li div.icons-wrapper{float:left; width:18%;}
.details_pic{width:90%;}
.details_pic img{width:100%;}
.detail_box{width:79%;}
.mdl_lft_column .hot_listing{width:98.5%;}

.desktop_hide{display:none;}
.mobile_show{display:block;}
.details_pic img{width:100%;}
.icons-wrapper{float:left; width:18%}
.detail_box{width:100%;}
.comment_list_one{margin-left:0px; padding:5px;}
.comment_list_two{margin-left:10px; padding:5px;}
.comment_list_three{margin-left:10px; padding:5px;}
.comment_list_details, .comment_list_two .comment_list_details{width:100%;}
.bx-wrapper .bx-viewport{width:99% !important; margin:10px 0 0 0; left:1px !important;}
iframe{display:block; width:100%;}
}
@media only screen  and (min-width : 600px) and (max-width : 767px){
.cetegory_top{width:100%}
.nav{display:none;}
.top_search{display:none;}
.main_wrapper{width:98%;}
.column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11, .column-12, .column-13, .column-14, .column-15, .column-16 .column-17, .column-18{float:left; width:100%}
.logo{width:80%;}
.mdl_lft_column{width:100%;}
.hot_item_heading{width:62%; margin:0;}
.mdl_lft_column .hot_listing ul li{width:98%; padding:5px;}
.adv_banner_1 img {width:100%;}
.mdl_rgt_column {width:100%;}
.footer-section .column-3{margin:0 auto 10px 10px; width:45%;}
.footer-section .column-6{width:45%; float:left;}



/*	 LOGIN PAGE CSS START	*/
#wrapper_inner{width:98%; margin:4px; position:static;}
#register, #login{width:97%; padding:8px 8px 0 8px;}
#wrapper_inner input:not([type="checkbox"]){width:87%; margin-right:0px;}
p.change_link{position:relative; left:-8px; width:99%; padding:17px 10px}

/*	 SUBMIT NEW POST PAGE CSS START 	*/
.submit_new_post{width:98%; margin:0px; padding:0 5px;}
.submit_new_post form .post_box{width:97%; padding:5px;}
.submit_new_post form .post_box label{width:35%;}
.submit_new_post form .post_box input[type="file"]{width:60%; float:left; margin:6px 0;}
.adv_banner_2{text-align:center;}
.adv_banner_2 a img{width:42%}
.welcomeuser{text-align:center;}
.membershipbox{width:100%; float:left; margin:20px 0; text-align:center;}
.submit_new_post form .post_box input[type="text"]{width:60%}
.submit_new_post form .post_box textarea{width:63%; max-width:63%;}
.submit_new_post form .post_box .populer_choice{width:98%; float:left;}
.submit_new_post form .post_submit{width:97%}

.mdl_lft_column .hot_page_section ul li div.icons-wrapper{float:left; width:18%;}
.details_pic img{width:100%;}
.icons-wrapper{float:left; width:15%; margin-right:10px;}
.hot_item_img{float:left;}
.detail_box{width:100%;}
.comment_list_one{margin-left:0px; padding:5px;}
.comment_list_two{margin-left:10px; padding:5px;}
.comment_list_three{margin-left:10px; padding:5px;}
.comment_list_details, .comment_list_two .comment_list_details{width:100%;}
.bx-wrapper .bx-viewport{width:98% !important; margin:10px 0 0 0; left:0px !important;}
.login_box .login_area .fieldArea input[type="text"], .login_box .login_area .fieldArea input[type="password"]{width:98%}
.adv_banner_2{text-align:center;}
.adv_banner_2 a img{width:42%}
.dvembedd{float:left; clear:both;}
iframe{width:100%}

}

@media only screen  and (min-width : 480px) and (max-width : 599px) {
.cetegory_top{width:100%}
.nav{display:none;}
.top_search{display:none;}
.main_wrapper{width:98%;}
.column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11, .column-12, .column-13, .column-14, .column-15, .column-16 .column-17, .column-18{float:left; width:100%}
.logo{width:80%;}
.mdl_lft_column{width:100%;}
.hot_item_heading{width:54%; margin:10px 0;}
.mdl_lft_column .hot_listing ul li{width:96%; padding:5px;}
.adv_banner_1 img {width:100%;}
.mdl_rgt_column {width:100%;}
.footer-section .column-3{margin:0 auto 10px 10px; width:45%;}
.footer-section .column-6{width:47%; float:left;}


/*	 LOGIN PAGE CSS START	*/
#wrapper_inner{width:98%; margin:4px; position:static;}
#register, #login{width:97%; padding:8px 8px 0 8px;}
#wrapper_inner input:not([type="checkbox"]){width:87%; margin-right:0px;}
p.change_link{position:relative; left:-8px; width:99%; padding:17px 10px}

/*	 SUBMIT NEW POST PAGE CSS START 	*/
.submit_new_post{width:98%; margin:0px; padding:0 5px;}
.submit_new_post form .post_box{width:97%; padding:5px;}
.submit_new_post form .post_box label{width:35%;}
.submit_new_post form .post_box input[type="file"]{width:60%; float:left; margin:6px 0;}
.adv_banner_2{text-align:center;}
.adv_banner_2 a img{width:42%}
.welcomeuser{text-align:center;}
.membershipbox{width:100%; float:left; margin:20px 0; text-align:center;}
.submit_new_post form .post_box input[type="text"]{width:60%}
.submit_new_post form .post_box textarea{width:64%; max-width:64%;}
.submit_new_post form .post_box .populer_choice{width:98%; float:left; text-align:center;}
.submit_new_post form .post_submit{width:97%}

.host_left_tabs{width:26.5%; padding:0px;}
.mdl_lft_column .hot_page_section{width:73%;}
.mdl_lft_column .hot_page_section ul li div.icons-wrapper{float:left; width:35%;}
.desktop_hide{display:none;}
.mobile_show{display:block;}

.details_pic img{width:100%;}
.icons-wrapper{float:left; width:18%}
.hot_item_img{float:left;}
.comment_list_one{margin-left:0px; padding:5px;}
.comment_list_two{margin-left:10px; padding:5px;}
.comment_list_three{margin-left:10px; padding:5px;}
.comment_list_details, .comment_list_two .comment_list_details{width:100%;}

iframe{width:100%;}


}

@media only screen and (max-width : 480px){

/*	 SUBMIT NEW POST PAGE CSS START 	*/
.submit_new_post{width:98%; margin:0px; padding:0 5px;}
.submit_new_post form .post_box{width:97%; padding:5px;}
.submit_new_post form .post_box label{width:100%;}
.submit_new_post form .post_box input[type="file"]{width:100%; float:left; margin:0px;}
.submit_new_post form .post_box input[type="text"]{width:95%}
.submit_new_post form .post_box textarea{width:99%; max-width:99%;}
.submit_new_post form .post_box .populer_choice{width:98%; float:left;}
.submit_new_post form .post_submit{width:95%}
.host_left_tabs{width:26.5%; padding:0px;}
.mdl_lft_column .hot_page_section{width:73%;}
.mdl_lft_column .hot_page_section ul li div.icons-wrapper{float:left; width:35%;}
.hot_listing .icons-wrapper{float:left; width:18%; margin-left:0px; margin-right:6px;}
.mdl_lft_column .hot_listing ul li{width:97%;}
.details_pic{width:90%;}
.details_pic img{width:100%;}
.icons-wrapper{float:left; width:30%}
.detail_box{width:100%;}
.comment_list_one{margin-left:0px; padding:5px;}
.comment_list_two{margin-left:10px; padding:5px;}
.comment_list_three{margin-left:10px; padding:5px;}
.comment_list_details, .comment_list_two .comment_list_details{width:100%;}
}



@media only screen and (min-width : 240px)  and (max-width : 479px) {
.cetegory_top{width:100%}
.nav{display:none;}
.top_search{display:none;}
.main_wrapper{width:98%;}
.column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11, .column-12, .column-13, .column-14, .column-15, .column-16 .column-17, .column-18{float:left; width:100%}
.logo{width:80%;}
.mdl_lft_column{width:100%; margin-right:0px;}
.hot_item_heading{width:100%; margin:10px 5px;}
.detail_post, .commentbox textarea{width:100%}
.mdl_lft_column .hot_listing ul li{width:96%; padding:5px;}
.mdl_lft_column .hot_page_section ul li div.hot_item_heading{width:100%}
.adv_banner_1 img {width:100%;}
.mdl_rgt_column {width:100%;}
.footer-section .column-3{margin:0 auto 10px 10px; width:45%;}
.footer-section .column-6{width:45%; float:left;}

/*	 LOGIN PAGE CSS START	*/
#wrapper_inner{width:98%; margin:4px; position:static;}
#register, #login{width:94%; padding:8px 8px 0 8px;}
#wrapper_inner input:not([type="checkbox"]){width:87%; margin-right:0px;}
p.change_link{position:relative; left:-8px; width:98%; padding:17px 10px}

/*	 SUBMIT NEW POST PAGE CSS START 	*/
.submit_new_post{width:94%; margin:0 5px; padding:0 5px;}
.submit_new_post form .post_box{width:95%; padding:5px;}
.submit_new_post form .post_box label{width:100%;}
.submit_new_post form .post_box input[type="file"]{width:100%; float:left; margin:0px;}
.submit_new_post form .post_box input[type="text"]{width:91%}
.submit_new_post form .post_box textarea{width:98%; max-width:98%;}
.submit_new_post form .post_box .populer_choice{width:98%; float:left;}
.submit_new_post form .post_submit{width:95%}

.desktop_hide{display:none;}
.mobile_show{display:block;}
.mdl_lft_column .hot_page_section{float:left; width:98%; box-shadow:-1px 0px 5px 0px #aaaaaa; margin:3px}
.host_left_tabs{float:left; width:100%;}
.host_left_tabs ul{float:left; width:100%;}
.mdl_lft_column .hot_page_section ul li div.icons-wrapper{float:left; width:35%;}
.hot_listing .icons-wrapper{float:left; width:30%;  margin-right:10px;}
.details_pic{width:90%;}
.details_pic img{width:100%;}
.icons-wrapper{float:left; width:55%;}
.comment_list_one{margin-left:0px; padding:5px;}
.comment_list_two{margin-left:10px; padding:5px;}
.comment_list_three{margin-left:10px; padding:5px;}
.comment_list_details, .comment_list_two .comment_list_details{width:100%;}
iframe{width:100%;}
.bx-wrapper .bx-viewport{width:96% !important; margin:10px 0 0 0; left:0px !important;}

.compose, .input_section{width:98%; margin:0px auto;}
.compose input[type="text"]{width:95%;}
.compose textarea{width:98%;}
.submit_new_post form .post_box input[type="password"]{width:91%}
.advertisement_cost{margin:20px; float:left; width:80%;}
.advertisement_cost label{width:100%;}
.advertisement_cost input[type="text"]{width:100%; border: 1px solid #C5C5C5; border-radius: 3px 3px 3px 3px; float: left; height: 35px; line-height: 35px; outline: medium none; padding: 0 5px;}
.advertisement_cost span{width:100%;}
}

@media only screen  and (max-width : 320px){
.cetegory_top{width:100%}
.hot_listing .icons-wrapper{float:left; width:33%;}
.details_pic{width:90%;}
.details_pic img{width:100%;}
.icons-wrapper{float:left; width:45%}

}


/*	 NAVIGATION TOP CSS START	*/
@media screen and (max-width:767px) {
.mobile_toggle{float:right; margin:21px 0; padding:5x; display:block;}
#mobile_toggle{float:right; position:absolute; width:160px; display:none; right:5px; top:50px; background:#333; padding:0px; border:2px solid #000; z-index:10000;}
#mobile_toggle ul{list-style:none; margin:0px; margin:0px;}
#mobile_toggle ul li{float:none; margin:0px; margin:0px; border-bottom:1px solid #666; line-height:30px; height:30px}
#mobile_toggle ul li a{font-size:14px; font-weight:normal; color:#f6f6f6; display:block; padding:0 5px;}
#mobile_toggle ul li a:hover{background-color:#ccc; color:#000}
.mobile_search{float:left;}
.mobile_search input[type="text"]{background:#fff url(../images/m_search_icon.png) right center no-repeat; height:20px; margin:3px; border-radius:5px; border:1px solid #000; padding:1px 3px; width:80%; float:left;}
.cate-none{display:none;}
}